LITESTREAM_BUCKET=orabbit-backups
LITESTREAM_PATH=master
LITESTREAM_ENDPOINT=http://minio:9000
LITESTREAM_REGION=us-east-1
LITESTREAM_FORCE_PATH_STYLE=true
AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me
